h1 {
  color: #FF0000;
  text-align: center;
}

P {
	color: #000000;
	text-align: center;
}

body {
background-color: #FFFFFF;
}

#box1 {
	background:#00FFFF;
	border-radius: 15px;
	width:400px;
	height:200px;
	margin:10px;
	padding:20px;
}
